**Question 1**

In [20]:
my_name="aryan" # Defining a variable containing a string
my_name[::-1]

'nayra'

**Question 2**

In [21]:
# Defining a variable containing a string
my_string="Hello, how many vowels are there in this sentence?"

# Defining a variable containing vowels
vowels="aeiouAEIOU"

# Initialize a variable to count the number of vowels
vowel_count=0

for item in my_string:
    if item in vowels:
      vowel_count=vowel_count+1

print("Number of vowels in the string:",vowel_count)

Number of vowels in the string: 15

**Question 3**

In [22]:
# Defining a string
any_string = "Able was I ere I saw Elba"

# Remove spaces by replacing them with an empty string
no_spaces_string = any_string.replace(" ", "")

# Normalize the string by converting it to lowercase
normalized_string = no_spaces_string.lower()

# To check if the normalized string is equal to its reverse
if normalized_string == normalized_string[::-1]:
    print("Is a palindrome")
else:
    print("Is not a palindrome")

Is a palindrome

**Question 4**

In [23]:
# Defining two strings
string1 = "listen"
string2 = "silent"

# Check if the sorted versions of both strings are the same
if sorted(string1) == sorted(string2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

The strings are anagrams.

**Question 5**

In [24]:
# Define the main string and the substring
main_string = "This is an example. This is a test example."
substring = "is"

# Find all occurrences of the substring
index = main_string.find(substring) # using find() method
while index != -1:
    print(f"Found at index: {index}")
    index = main_string.find(substring, index + 1)

Found at index: 2
Found at index: 5
Found at index: 22
Found at index: 25

**Question 6**

In [19]:
# Input: Asking the user for a string
input_str = input("Enter a string to compress: ")

# Initialize variables
compressed_str = ""
count = 1

# Iterate through the string
for i in range(1, len(input_str)):
    if input_str[i] == input_str[i - 1]:
        count += 1  # Increment count if current and previous characters are the same
    else:
        compressed_str += input_str[i - 1] + str(count)  # Add the character and its count
        count = 1  # Reset the count

# Add the last character and its count
compressed_str += input_str[-1] + str(count)

# Output the compressed string
print("Compressed string:", compressed_str)

Enter a string to compress: aabbcddeeeffffff
Compressed string: a2b2c1d2e3f6

**Question 7**

In [25]:
# Read the input string from the user
input_string = input("Enter a string to check for unique characters:")

# Convert the string to a set and compare its length to the original string
if len(set(input_string)) == len(input_string):
    print("The string has all unique characters.")
else:
    print("The string does not have all unique characters.")

Enter a string to check for unique characters:My name is aryan
The string does not have all unique characters.

**Question 8**

In [26]:
my_string="my name is aryan and i am loving pwskills" # assigning a string
my_string.upper() # converting to upper case

'MY NAME IS ARYAN AND I AM LOVING PWSKILLS'

**Question 9**

In [28]:
my_string= "I am very happy"
len(my_string)

15

**Question 10**

In [29]:
str1 = "Hello"
str2 = "World"

# Way 1 - used f-strings
result1 = f"{str1} {str2}"
print(result1)

# Way 2 - used join()
result2 = " ".join([str1, str2])
print(result2)  # Output: Hello World

Hello World
Hello World

**Question 11**

In [30]:
list_num = [1, 2, 4, 4, 7, 4, 8, 3, 4, 5, 6, 9, 0]  # A list containing random numbers
new_list = []

for item in list_num:
    if item != 4:  # Only add items that are not 4
        new_list.append(item)

print(new_list)

[1, 2, 7, 8, 3, 5, 6, 9, 0]

**Question 12**

In [31]:
# Defining a list containing integers
given_list=[73, 92, 57,91,43,24,48,53,78]

# First: I will sort the list in descending order
sorted_list=sorted(given_list,reverse=True)

# Second: I will access the element at 1 index because after sorting the largest number will come to 0 index and second largest number will come to 1 index
Second_highest_value=sorted_list[1]

print(Second_highest_value)

91

**Question 13**

In [32]:
# Defining a list
names = [
    "Emily", "Sophia", "Olivia", "Emily", "Ava",
    "Sophia", "Mia", "Isabella", "Ava", "Charlotte",
    "Amelia", "Mia", "Olivia", "Isabella", "Sophia",
    "Charlotte", "Amelia", "Emily", "Ava", "Mia"
]

result_dict = {}  # Initialize an empty dictionary

for item in names:
    if item not in result_dict:
        # Count occurrences only if the item is not already in the dictionary
        result_dict[item] = names.count(item)

print(result_dict)

{'Emily': 3, 'Sophia': 3, 'Olivia': 2, 'Ava': 3, 'Mia': 3, 'Isabella': 2, 'Charlotte': 2, 'Amelia': 2}

**Question 14**

In [33]:
my_fruits = ['apple', 'banana', 'cherry', 'kiwi', 'avocado', 'muskmelon']

# Reversing the list in-place without using built-in reverse functions
start = 0
end = len(my_fruits) - 1

while start < end:
    my_fruits[start], my_fruits[end] = my_fruits[end], my_fruits[start]
    start += 1
    end -= 1

print(my_fruits)

['muskmelon', 'avocado', 'kiwi', 'cherry', 'banana', 'apple']

**Question 15**

In [34]:
# Define a list with duplicates
my_list = [1, 2, 2, 3, 4, 4, 5, 6, 1, 7]

# Initialize an empty list to store unique elements
unique_list = []

# Loop through each element in the original list
for item in my_list:

    # Add the item to unique_list if it's not already present
    if item not in unique_list:
        unique_list.append(item)

# Print the list with duplicates removed, while keeping the original order
print(unique_list)

[1, 2, 3, 4, 5, 6, 7]

**Question 16**

In [35]:
num = [3, 9, 10, 18, 3, 15, 12, 29, 144]
sorted_num_asc = sorted(num)
sorted_num_desc = sorted(num, reverse=True)

if num == sorted_num_asc:
    print("list is sorted in ascending order")
elif num == sorted_num_desc:
    print("list is sorted in descending order")
else:
    print("list is not sorted")

list is not sorted

**Question 17**

In [36]:
list1=[1, 3, 5, 7, 9]
list2=[2, 4, 6, 8, 10]
list3=sorted(list1+list2)
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Question 18**

In [38]:
# Defining two lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

intersection = list(set(list1) & set(list2)) # & is used for intersection
print(intersection)

[4, 5]

**Question 19**

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Find union without duplicates
union = list(set(list1) | set(list2))
print(union)

[1, 2, 3, 4, 5, 6, 7, 8]

**Question 20**

In [39]:
# Input: A list of numbers from 1 to 10
input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Get the length of the list
n = len(input_list)

# Shuffle the list using Fisher-Yates algorithm
for i in range(n-1, 0, -1):
    # Generate a pseudo-random index between 0 and i
    j = int((i + 1) * (hash(str(i)) % 100) / 100) % (i + 1)
    # Swap elements at indices i and j
    input_list[i], input_list[j] = input_list[j], input_list[i]

# Print the shuffled list
print(input_list)

[8, 4, 9, 1, 7, 6, 5, 10, 3, 2]

**Question 21**

In [ ]:
# Read input from the user
input_str_1=input("Enter elements separated by comma:")
input_str_2=input("Enter elements separated by comma:")

# Split the string into a list of elements
convert_tuple_1= tuple(input_str_1.split(","))
convert_tuple_2 = tuple(input_str_2.split(","))

# Convert the tuple to a set
convert_set_1 = set(convert_tuple_1)
convert_set_2 = set(convert_tuple_2)

# Find the intersection of the two sets
intersection_set=convert_set_1 & convert_set_2

# Convert the list to a tuple
intersection_tuple=tuple(intersection_set)

# Print the intersection
print("The tuple containing common element(s):", intersection_tuple)

Enter elements separated by comma:pineapple,kiwi,grapes,apple,muskmelon
Enter elements separated by comma:muskmelon,kiwi,banana,avocado
The tuple containing common element(s): ('kiwi', 'muskmelon')

**Question 22**

In [40]:
# Prompt the user to enter the first set of integers
input_string1 = input("Enter the first set of integers (separated by commas): ")

# Convert the input string to a set of integers
set1 = set(map(int, input_string1.split(',')))

# Prompt the user to enter the second set of integers
input_string2 = input("Enter the second set of integers (separated by commas): ")

# Convert the input string to a set of integers
set2 = set(map(int, input_string2.split(',')))

# Calculate the intersection of the two sets
intersection = set1 & set2

# Print the intersection
print("Intersection of the two sets:", intersection)

Enter the first set of integers (separated by commas): 1,2,3,4,5,6,7
Enter the second set of integers (separated by commas): 5,6,7,8,9,10
Intersection of the two sets: {5, 6, 7}

**Question 23**

In [ ]:
# Read input from the user
input_str_1 = input("Enter elements separated by space:")
input_str_2 = input("Enter elements separated by space:")

# Split the string into a list of elements
convert_tuple_1= tuple(input_str_1.split())
convert_tuple_2 = tuple(input_str_2.split())

# Concatenating two tuples
result_tuple=convert_tuple_1+convert_tuple_2
print(result_tuple)

Enter elements separated by space:apple banana cherry
Enter elements separated by space:kiwi avocado muskmelon
('apple', 'banana', 'cherry', 'kiwi', 'avocado', 'muskmelon')

**Question 24**

In [ ]:
# Read input from the user
input_str_1 = input("Enter elements separated by space:")
input_str_2 = input("Enter elements separated by space:")

# Split the string into a list of elements and convert to sets
convert_set_1=set(input_str_1.split())
convert_set_2=set(input_str_2.split())

# Elements that are present in the first set but not in the second set
elements_in_first_not_in_second = convert_set_1-convert_set_2
print(elements_in_first_not_in_second)

Enter elements separated by space:1 2 3 4 5 6 7
Enter elements separated by space:6 7 8 9 10
{'1', '4', '5', '3', '2'}

**Question 25**

In [ ]:
# Read input from the user
input_str_1 = input("Enter elements of the tuple separated by space:")
input_str_2 = int(input("Enter first index of range: "))
input_str_3 = int(input("Enter second index of range: "))

# Convert the input string to a tuple
convert_tuple_1 = tuple(input_str_1.split())

# Slicing the tuple using the specified range of indices
result_tuple = convert_tuple_1[input_str_2:input_str_3]

# Print the result
print(result_tuple)

Enter elements of the tuple separated by space:apple banana kiwi avocado muskmelon watermelon pineapple
Enter first index of range: 4
Enter second index of range: 6
('muskmelon', 'watermelon')

**Question 26**

In [ ]:
# Read input from the user
input_str_1 = input("Enter elements separated by space:")
input_str_2 = input("Enter elements separated by space:")

# Split the string into a list of elements and convert to sets
convert_set_1=set(input_str_1.split())
convert_set_2=set(input_str_2.split())

# Taking union of both sets
union_set=convert_set_1|convert_set_2
print(union_set)

Enter elements separated by space:1 2 3 4 5
Enter elements separated by space:4 5 6 7 8 9
{'1', '4', '7', '5', '3', '8', '9', '6', '2'}

**Question 27**

In [ ]:
# Taking input from the user
input_str = input("Enter the integers (separated by space): ")

# Convert the input string to a tuple of integers
convert_tuple = tuple(map(int, input_str.split()))

# Define max and min values using tuple unpacking
maximum_value, minimum_value = max(convert_tuple), min(convert_tuple)

# Print the max and min values
print(f"'{maximum_value}' is the maximum value.")
print(f"'{minimum_value}' is the minimum value.")

Enter the integers (separated by space): 64 72 82 52 81 28 98 28 64 94
'98' is the maximum value.
'28' is the minimum value.

**Question 28**

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Union of two sets
union = set1|set2
print(union)

# Intersection of two sets
intersection = set1 & set2
print(intersection)

# Difference between two sets
difference = set1 - set2
print(difference)

# Symmetric difference between two sets
symmetric_difference = set1 ^ set2
print(symmetric_difference)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

**Question 29**

In [ ]:
input_str = input("Enter elements of the tuple (separated by space):")
input_element = input("Enter the element to count:")

# Split the input string into a tuple of elements
convert_tuple = tuple(input_str.split())

# Count the occurrences of the element in the list
count = convert_tuple.count(input_element)

# Print the count
print(f"The element '{input_element}' appears {count} times in the tuple.")

Enter elements of the tuple (separated by space):grape kiwi apple banana cherry grape avocado banana muskmelon grape
Enter the element to count:grape
The element 'grape' appears 3 times in the tuple.

**Question 30**

In [ ]:
# Prompt the user to enter the set of elements
input_str_1 = input("Enter the first set of elements (separated by space):")
input_str_2 = input("Enter the second set of elements (separated by space):")

# Convert the input strings to sets
convert_Set_1=set(input_str_1.split())
convert_Set_2=set(input_str_2.split())

# To find the symmetric difference the two sets
symmetric_difference=convert_Set_1^convert_Set_2
print(symmetric_difference)

Enter the first set of elements (separated by space):aryan ajay lisa jasmine lora
Enter the second set of elements (separated by space):jasmine daisy honey stella
{'lisa', 'ajay', 'honey', 'lora', 'stella', 'daisy', 'aryan'}

**Question 31**

In [ ]:
# Asking user for the input
input_str_1 = input("Enter the list of mobile brands (separated by space):")

# Splitting the input string into a list of elements
my_list = input_str_1.split()

# Creating a dictionary to store the frequency of each element
my_dict = {}

# Creating a set to keep track of already processed items
processed_items = set()

# Counting the frequency of each element
for item in my_list:
    if item not in processed_items:
        frequency = my_list.count(item)
        my_dict[item] = frequency
        processed_items.add(item)

print(my_dict)

Enter the list of mobile brands (separated by space):Apple Samsung Google OnePlus Apple Xiaomi Samsung Huawei Google OnePlus Sony Apple Xiaomi Huawei Samsung Google
{'Apple': 3, 'Samsung': 3, 'Google': 3, 'OnePlus': 2, 'Xiaomi': 2, 'Huawei': 2, 'Sony': 1}

**Question 32**

In [ ]:
# Taking input for the first dictionary without any extra symbols
input_str_1 = input("Enter the first dictionary (e.g., a: 1, b: 2): ")
input_str_2 = input("Enter the second dictionary (e.g., c: 3, d: 4): ")

# Converting the input string to a dictionary
dict_1 = {}
for pair in input_str_1.split(','):
    key, value = pair.split(':')
    dict_1[key.strip()] = int(value.strip())

dict_2 = {}
for pair in input_str_2.split(','):
    key, value = pair.split(':')
    dict_2[key.strip()] = int(value.strip())

# Merging the two dictionaries
merged_dict = dict_1.copy()  # Create a copy of the first dictionary
for key, value in dict_2.items():
    merged_dict[key] = merged_dict.get(key, 0) + value  # Add values for common keys or insert new ones

# Printing the merged dictionary
print("Merged dictionary:", merged_dict)

Enter the first dictionary (e.g., a: 1, b: 2): science: 90, math: 85
Enter the second dictionary (e.g., c: 3, d: 4): science: 95, history: 80
Merged dictionary: {'science': 185, 'math': 85, 'history': 80}

**Question 33**

In [17]:
# Input: Nested dictionary
nested_dict = {
    'alice': {'favorite_color': 'blue', 'age': 30},
    'bob': {'favorite_color': 'green', 'age': 25}
}

# Input: Keys as a list (you can change this)
keys = input("Enter the list of keys separated by space:").split()

# Traverse through the dictionary using the keys
current_value = nested_dict

for key in keys:
    if key in current_value:
        current_value = current_value[key]  # Go deeper in the nested dictionary
    else:
        current_value = None  # Return None if key is not found
        break

print(current_value)

Enter the list of keys separated by space:bob age
25

**Question 34**

In [ ]:
# Taking a dictionary input from the user
student_marks = input("Enter a dictionary (e.g., {'a': 1, 'b': 2}):")

# Converting the string input to a dictionary
user_dict = {}
input_pairs = student_marks.strip('{}').split(',')  # Split input into key-value pairs

for pair in input_pairs:
    key, value = pair.split(':')  # Split each pair into key and value
    user_dict[key.strip()] = int(value.strip())  # Remove spaces and convert value to int

# Sorting the dictionary based on values in ascending order
sorted_dict = dict(sorted(user_dict.items(), key=lambda x: x[1]))

# Printing the sorted dictionary
print("Sorted dictionary:", sorted_dict)

Enter a dictionary (e.g., {'a': 1, 'b': 2}):Alice':85,'Eva':95,'Grace':90,'Hannah':81,'Julia':89,'Sophia':76,'Isabella':92,'Emma':88,'Olivia':94,'Mia':80
Sorted dictionary: {"'Sophia'": 76, "'Mia'": 80, "'Hannah'": 81, "Alice'": 85, "'Emma'": 88, "'Julia'": 89, "'Grace'": 90, "'Isabella'": 92, "'Olivia'": 94, "'Eva'": 95}

**Question 35**

In [ ]:
# Input for the original dictionary
input_dict = input("Enter a dictionary (e.g., a: 1, b: 2, c: 1):")

# Converting the input string into a dictionary
original_dict = {}
for item in input_dict.split(','):
    key_value = item.split(':')
    key = key_value[0].strip()
    value = key_value[1].strip()
    original_dict[key] = value.strip()

# Inverting the dictionary
inverted_dict = {}

for key, value in original_dict.items():
    if value in inverted_dict:
        inverted_dict[value].append(key)  # Append key to the list if value already exists
    else:
        inverted_dict[value] = [key]  # Create a new list with the key

# Print the inverted dictionary
print(inverted_dict)

Enter a dictionary (e.g., a: 1, b: 2, c: 1):apple: 10, banana: 5, cherry: 20, date: 15, elderberry: 8
{'10': ['apple'], '5': ['banana'], '20': ['cherry'], '15': ['date'], '8': ['elderberry']}